<html ng-app="marketApp">
<head>
    <script src="scripts/jquery-1.11.1.js"></script>
    <script src= "scripts/angular.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/firebase.js"></script>
    <script src="scripts/angular-fire.js"></script>
    <script src="app.js"></script>
    <script src="services/marketFactory.js"></script>
    <script src="controllers/marketController.js"></script>
    <script src="controllers/productController.js"></script>
    <script src="controllers/navbarController.js"></script>
    <link href="static/css/myStyle.css" type="text/css" rel="stylesheet">
    <link href="static/css/grid.css" type="text/css" rel="stylesheet">
</head>
<body ng-controller="marketController" >
    <div class="square"></div>

    <div class="myNav"  ng-class="{'opened': expand, 'closed': !expand}">
        <img class = "navbar-right" src="http://www.phoneslate.com/img/glyphicons_halflings_115_shopping-cart@2x.png">
        <div class="navbar-items"
            <span ng-click="expandNavbar()">
                Search
            </span> | <a class="navbar-item" ng-href="#">Home</a> | <span ng-click="createGridData()">Create Grid Data</span>
    </div>

        <h1 class="logo" ng-click="expandNavbar()">Pic Market</h1>

        <div ng-show="expand" class="navbar-search">
            <input class="navbar-input" type="text" placeholder="Find Colors" ng-model = "productFilter.name">
            <button class="navbar-btn">Search</button>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
    <div ng-click="expand=false;">
        <ng-view></ng-view>
    </div>
</body>
</html>
