body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

.myContainer{
    width:100%;
    max-width: 1600px;
    margin-left:auto;
    margin-right:auto;
    /*overflow: hidden;*/

    /*position: ;*/
    /*top: 10%;*/
    z-index: -1;

}

.myNav{

    width:100%;
    position:absolute;
    max-width:1600px;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    height:50px;
    background-color:#f3d352;
    border-bottom: 4px solid black;
    z-index:1;
}
.opened{
    background:lightsalmon;
    height:150px;
    /*padding-bottom: 1px;*/
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.closed{
    background:lightgrey;
    height:100px;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.navbar-search{
    text-align:center;
}
.navbar-input{
    border: 2px black solid;
    height:33px;
    width: 230px;
    padding-left:10px;
    font-weight:bold;
}

.navbar-btn{
    border: 2px black solid;
    height:33px;
    width: 75px;
    font-weight:bold;

}

.navbar-items{
    padding-left:10px;
    font-size:22px;
    font-weight:bold;
}

.navbar-right{
    float:right;
    padding-top:4px;
    padding-right:10px;
}

.navbar-items>a{
    color:black;
    text-decoration:none;
}

[class$='img-lg']{
    /*margin has to be above margin-left, margin-right, which are both located below in class^='listing-img'*/
    margin:20px;
    background:lightpink;
    padding: 20px;
}


[class^='listing-img']{
    display:block;
    margin-left:auto;
    margin-right:auto;
}


[class$='img-sm']{
    height:120px;
    width:120px;
}



.myRow:before,
.myRow:after {
    content:"";
    display: table;
    clear: both;
}

[class*='col-']{

    float: left;
    min-height:1px;
    padding-left:10px;
    padding-right:10px;
    width:16.66%;
    box-sizing:border-box;


    /*background-color: #d3dcdc;*/
}

/*Column widths up to a division of six*/
.col-1{
    width:16.66%;
}
.col-2{
    width: 33.33%;
}
.col-3{
    width: 50%;
}
.col-4{
    width:66.664%;
}
.col-5{
    width:83.33%
}
.col-6{
    width:100%
}

.logo{
    padding-top:px;
    text-align:center;
}

[class*="col-"] > p,[class*="col-"] > h1,[class*="col-"] > h2, [class*="col-"] > h3{
    /*background-color: #ffc2c2;*/
    padding:0;
    margin: 0;
    text-align: center;
    /*color: white;*/
}

.center{
    margin-left:auto;
    margin-right:auto;
}

.height{
    height:20%;
    background:#445;
}

.listing-container{
    padding-left: 50px;
    padding-right: 50px;
}


.listing-container .listing{
    /*background-color:#ddd;*/
    /*border: 2px #ddd solid;*/
    /*border-radius:25px;*/
    /*padding-left: 20px;*/
    /*padding-bottom: 20px;*/
    /*padding-right: 20px;*/


}

/*padding 1st topbottom, 2nd rightleft*/
.btn-listing-addCart{
    font-size:16px;
    padding: 12px 40px;
    font-weight:bold;
    background-color: white;
    border: 3px black solid;

}
.btn-listing-addCart:hover{
    background-color:#ff0;
}

