body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

.myContainer{
    width:100%;

    max-width: 1600px;
    margin-left:auto;
    margin-right:auto;
    /*overflow: hidden;*/

}

.myNav{
    width:100%;
    max-width:1600px;
    margin-left:auto;
    margin-right:auto;
    height:50px;
    background-color:#f3d352;
    border-bottom: 4px solid black;
}


[class*='listing-img']{
    display:block;
    margin-left:auto;
    margin-right:auto;
    /*padding: 20px;*/
}

[class$='img-sm']{
    height:120px;
    width:120px;
}



.myRow:before,
.myRow:after {
    content:"";
    display: table;
    clear: both;
}

[class*='col-']{

    float: left;
    min-height:1px;
    padding-left:10px;
    padding-right:10px;
    width:16.66%;
    box-sizing:border-box;


    /*background-color: #d3dcdc;*/
}

/*Column widths up to a division of six*/
.col-1{
    width:16.66%;
}
.col-2{
    width: 33.33%;
}
.col-3{
    width: 50%;
}
.col-4{
    width:66.664%;
}
.col-5{
    width:83.33%
}
.col-6{
    width:100%
}

.logo{
    padding-top:13px;
    text-align:center;
}

[class*="col-"] > p,[class*="col-"] > h1,[class*="col-"] > h2, [class*="col-"] > h3{
    background-color: #ffc2c2;
    padding:0;
    margin: 0;
    text-align: center;
    /*color: white;*/
}

.center{
    margin-left:auto;
    margin-right:auto;
}

.height{
    height:20%;
    background:#445;
}

.listing-container{
    padding-left: 50px;
    padding-right: 50px;
}


.listing-container .listing{
    background-color:#ddd;
    border: 2px #ddd solid;
    border-radius:25px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;


}

.opened{
    background:lightsalmon;
    height:150px;
    padding-bottom: 1px;

}
.closed{
    background:lightgrey;
    padding-bottom: 50px;


}