<div class = "myContainer" >
<div ng-repeat="product in products| filter: productFilter ">
    <div class="col-2 listing-container">
        <div class="listing">
            <p>{{product.name}}</p>
            <a href = "#listing/{{product.id}}"><img class="listing-img-sm" src = {{product.image}}></a>
        </div>
    </div>
</div>

    <div class="myRow">
        <div class="col-1"><p>col-1</p></div>
        <div class="col-1"><p>col-1</p></div>
        <div class="col-1"><p>col-1</p></div>
        <div class="col-1"><p>col-1</p></div>
        <div class="col-1"><p>col-1</p></div>
        <div class="col-1"><p>col-1</p></div>
    </div>
    <div class="myRow">
        <div class="col-2"><p>col-2</p></div>
        <div class="col-2"><p>col-2</p></div>
        <div class="col-2"><p>col-2</p></div>
    </div>
    <div class="myRow">
        <div class="col-3"><p>col-3</p></div>
        <div class="col-3"><p>col-3</p></div>
    </div>
</div>

