<div class="myContainer">
    <div class="col-1 prev">
        <p ng-click="getNextProduct('prev')"><a href="#listing/{{ nextProductId }}">Previous Product</a></p>
    </div>
    <div class="col-4">
        <h1>{{product.name}}</h1>
        <a href="#"><img class="listing-img-lg" src = "{{product.image}}"></a>
        <p>{{product.description}}</p>
        <p>Price: {{product.price|currency}}</p>
        <p>Patrons: {{product.patrons}}</p>
        <p>Hex Code: {{product.hex}}</p>
        <p>RGB: {{product.rgb}}</p>
        <button class="btn-listing-addCart">Add to Cart</button>
    </div>

    <div class="col-1 center height">
        <p ng-click="getNextProduct('next')"><a href="#listing/{{ nextProductId }}">NExt Product</a></p>
    </div>
